
.contact {background-color:#cc0066;
          height:150px;
          width: 150px;}
             
   

.summary   {background-color:#cc3399;}


.exp {background-color:#00ff00;}


.edu{background-color:#ffff00;}


.Refrences {background-color:#cc6600;}



