.contact {background-color:;
          height:200px;
          width:250px ;
          
          letter-spacing: 2px;
          padding: 30px 30px 30px 30px;

           margin: ;
            font-family: "garamond";
          font-size: 18px;}
             
   

.summary   {background-color:;
            font-size: 20px;
           
            height:300px;
	        width:473px;
           
	        padding: 30px 30px 30px 30px;

            margin: -260px 300px 0px 0px ;
           

            float:right;}
           


.exp {background-color:;

	  height: px;
	  width:450px;
	  font-size:20px;

      padding: 30px 30px 30px 30px;

      clear:right;
      float:right;

      margin: 0px 330px 0px 0px;

  }



.edu{background-color:;

	 font-size:20px;

	 height: px;
	 width: 473px;

     padding:30px 30px 30px 30px;


      float:right;
      clear:right;

       margin: 0px 290px 0px 0px;

   }


.skills{ float:right;
         clear:right; 
         margin: 0px 340px 0px 0px;
         background-color:;
         width:473px ;
         font-size: 20px;
         background-color:;
         }

         p.small {
    line-height: 10px;
}
 
         
         body {
     background-color: #c2c2a3;
}





