.contact { text-align: left;
           font-size: 20px;
            font-family: "Gadget",sans-serif; }

summary { text-align: center; }
  
    
    body {
        background-color: #d1e0e0;
               font-family: "courier new", serif; }
              
exp {   }


edu {    }

   



